@import "tailwindcss";

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background-color: #f1f1f1;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb{
    background-color: hsl(29, 100%, 66%);
    border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: hsl(29, 100%, 50%);
    border-radius: 30px;
}
